body,html{
    height: 100%;
}

.mainframe{
    background-image: url("images/newpg.jpeg");
    background-position: center;
    background-size: contain;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
   align-items: center;
}

.txt{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-wrap: break-word;
}

.imges{
display: flex;
width: 100%;
gap: 2vw;
justify-content: center;
flex-wrap: wrap;
}

.imges>img{
    
    width: 20vw;
    height: 20vh;
    flex: 1 1 1;
    object-fit: contain;
}

.jumping-image {
    /* Set animation properties */
    animation-name: jump;
    animation-duration: 0.8s; /* Duration of one jump cycle */
    animation-iteration-count: infinite; /* Loop the animation forever */
    animation-direction: alternate; /* Reverses the animation direction each cycle */
    animation-timing-function: ease-in-out; /* Smooth start and end for a natural jump */
}

/* Define the keyframe animation */
@keyframes jump {
    0% {
        /* Start position: no vertical movement */
        transform: translateY(0);
    }
    100% {
        /* End position: move up by 20 pixels */
        transform: translateY(-20px);
    }
}

.jumping-image{
    
    height: 15vh;
    margin-top: 5%;
}



.button {
  margin-top: 10vh;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #dff1f9;
  border: none;
  animation: pulse-grow 2s infinite alternate ease-in-out;
  box-shadow: 0 0 0.5rem 0 #03a9f4,
    /* Primary glow */ 0 0 0.5rem 0.1rem rgba(3, 169, 244, 0.5); /* Secondary, softer glow */
}

